#login_name{
    font-size: 25px;
  color:rgb(110, 121, 223);
  
  
  }
  .user{
    margin-left: 80px;
  }
    .logInOut{
        border: 2px solid blue;
        position: absolute;
        line-height: 1px;
        margin-left: -80px;
  
    }